		<div class="row panel-content panel-archive-list">
			<h2 class="panel-archive-title"><%= panel_title %></h2>
			<div class="box-archive-list">
				<ul class="archive-list">
<%
	page.posts.each(function(article) {
		var target = '';
		var url = article.path;
		if (article.link) {
			url = article.link;
			target = ' target="_blank"';
		}
		var title = article.title;
		if (!title) {
			title = 'No Title';
		}
%>
					<li class="box-archive-item" itemscope itemtype="http://schema.org/Article" >
						<div class="archive-item">
							<h3 class="box-archive-item-title"><a href="<%= url_for(url) %>" itemprop="url" <%- target %>><span  class="archive-item-title" itemprop="name"><%= title %></span></a></h3>

							<p class="box-archive-item-date"><a href="<%- url_for(url) %>"><span class="archive-item-date" itemprop="datePublished" content="<%= date(page.date) %>"><%= date(article.date) %></span></a></p>
						</div>
					</li>
<%
	});
%>
				</ul>
			</div>
		</div>


		<div class="panel-archive-nav">
			<div class="box-archive-nav">
<%- partial('_widget/archive-nav') %>
			</div>
		</div>
